.selectdate{
  max-width: 20rem;
  cursor: pointer !important;
  margin-top: 1rem;
}
.divchangeglobal{
  
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.divchangeglobal h2{
  
  margin-bottom: 3rem;
  
}

.div{
  box-shadow: 1px 1px 2px black, -1px 1px 2px black;

  padding: 2rem;
}
.div h2{
  text-align: center;
}

.divchangeglobal a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  color: var(--h1);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 3px;
  cursor: not-allowed;
  pointer-events: none;
}
.divchangeglobal a span {
  position: absolute;
  display: block;
}


.divchangeglobal a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--blue));
  animation: btn-anim1 1.5s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.divchangeglobal a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--blue));
  animation: btn-anim2 1.5s linear infinite;
  animation-delay: 0.375s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.divchangeglobal a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--blue));
  animation: btn-anim3 1.5s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.divchangeglobal a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--blue));
  animation: btn-anim4 1.5s linear infinite;
  animation-delay: 1.125s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

.divchangeglobal a.true {
  background: var(--blue);
  color: #080808;
  border-radius: 5px;
  box-shadow: 1px 1px 3px var(--blue), -1px -1px 3px var(--blue);
  cursor: pointer;
  pointer-events: auto;
  

}



.notification {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: justify;
  
}

.notification:hover {
  opacity: 0.8;
  
}

.en {
  color: #333;
  font-weight: bold;
  margin-bottom: 2rem;
}

.ar {
  color: #555;
  font-weight: bold;
  margin-top: 10px;
  text-align:right;
}

@media (max-width: 450px) {
  .divchangeglobal h2{
  
    font-size: 13px;
    
  }
  .div{
 width: 90%;
  }
  .notification {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
 
    
  }
}
