@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?l42k4e');
  src:  url('fonts/icomoon.eot?l42k4e#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?l42k4e') format('truetype'),
    url('fonts/icomoon.woff?l42k4e') format('woff'),
    url('fonts/icomoon.svg?l42k4e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-moon-o:before {
  content: "\e903";
}
.icon-verified:before {
  content: "\e901";
}
.icon-check-alt:before {
  content: "\e900";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-sun:before {
  content: "\e9d4";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-arrow-up:before {
  content: "\ea32";
}
.icon-google:before {
  content: "\ea88";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-menu:before {
  content: "\e902";
}
