.containerdetail{
    height: auto;
    margin-bottom: 6rem;
}
.tab{
    color: var(--h1) !important;
}
.containercardarticle{
    gap: 2rem;
    width: 100%;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 1.5rem;
}